* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(55, 55, 67);
  color: white;

}